html {
    height: 100%;
}
body {
  position: relative;
  font-family: 'Ropa Sans', sans-serif;
  background-color: black;
  color: #5b5b5b;
  min-height: 100%;
  width: 100%;
    overflow: auto;
}
.jumbotron p {
    font-size: 14px;
}

h2 {
    margin-top: 10px;
}

a {
  color: #00B7FF;
}
input {
    border:0;
    border-radius: 5px;
    text-align: center;
    width: 150px;
}
.btn {
    border: 0;
    margin: 5px;
    color: white;
}

.btn-find {
    background-color: #d163ce;
}

.btn-next {
    background-color: #00AFAA;
    transition: all 2s;
}
.btn-back {
    background-color: #C84378;
}
.btn-play {
    background-color: #4DB1E0;
}

canvas {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}


#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 2s;
    background-color: #FF534C;
}
#background-extra {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 2s;
}

#background-light {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     transition: all 2s;
 }

.stripes {
    background-size: 597px 1440px;
    background-image: linear-gradient(67.5deg, #c2e4f4 25%, #c2f4d3 25%, #c2f4d3 50%, #c2e4f4 50%, #c2e4f4 75%, #c2f4d3 75%, #c2f4d3);
    animation: barberpole 5s linear infinite;
}
@keyframes barberpole {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 720px 300px;
    }
}

@media (max-width: 991px) {
    .stripes {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: 74.75px 180px;
        background-image: linear-gradient(67.5deg, #c2e4f4 25%, #c2f4d3 25%, #c2f4d3 50%, #c2e4f4 50%, #c2e4f4 75%, #c2f4d3 75%, #c2f4d3);
        animation: barberpole 2s linear infinite;
    }
    @keyframes barberpole {
        from {
            background-position: 0 0;
        }
        to {
            background-position: 90px 37.5px;
        }
    }
}
@media (max-width: 767px) {
    .stripes {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: 37.3px 90px;
        background-image: linear-gradient(67.5deg, #c2e4f4 25%, #c2f4d3 25%, #c2f4d3 50%, #c2e4f4 50%, #c2e4f4 75%, #c2f4d3 75%, #c2f4d3);
        animation: barberpole 2s linear infinite;
    }
    @keyframes barberpole {
        from {
            background-position: 0 0;
        }
        to {
            background-position: 45px 18.75px;
        }
    }
}

.cont-mid {
    background-color: rgba(255,255,255, 0.85);
    box-shadow: 0px 0px 15px #838383;
    margin-top: 5%;
    transition: all 1s;
    border-radius: 10px;
    position: relative;
    padding: 15px;
}

@media (max-width: 991px) {
    .cont-mid {
        margin-top: 10%;

    }
}
@media (max-width: 767px) {
    .cont-mid {
        margin-left: 10px;
        margin-right: 10px;
    }
}
.yet {
    transition: all 2s;
}

.not-yet {
    opacity: 0;
    display: none;
    transition: all 2s;
}

.part-container {
    height: 20px;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #c3a6c1;
}
.part-bar {
    width: 0;
    height: 100%;
    left: 0;
    position: absolute;
    background-color: #a361a5;
    transition: ease-in-out all 1s;
}

@media (min-width: 992px) {
    .part-container {
        height: 30px;
    }
}


#wrapper {

}

.purplemore {
    background-color: #ffeafd;
}


#preview {
    width: 50px;
    height: 50px;
    background-color: red;
}
.about-rotate {
    transition: transform 2s;

}
.about-rotate:hover {
    opacity: 0.7;
}

.no-left {
    padding-left: 0px;
}
.no-right {
    padding-right: 0px;
}

.slider-container {
    margin: 0 50px;
    margin-top: 2em;

}

@media (max-width: 767px){
    .slider-container {
        margin: 0 15px;
        margin-top: 2em;

    }
}


/* Slider */
.ui-slider {
    position: relative;
    text-align: left;
    border:0;
    background-color: rgba(255,255,255, 0.4);
    background-image: none;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 3em;
    height: 3em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    background: white;
    -webkit-border-radius:1.5em;
    -moz-border-radius:1.5em;
    border-radius:1.5em;
    border: 1em solid #00AFAA;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
    background-color: rgba(0,0,0,0.4);
}

.ui-widget-header {
    background: none;
}


.ui-slider-horizontal {
    height: .3em;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -1.35em;
    margin-left: -1.5em;
}

.ui-slider a:focus { outline:1px dotted gray; }
.ui-state-focus {
    outline: 0;
}
.ui-state-active {
    outline: 0;
    box-shadow: 0 0 10px #222;
}

.hsl-4 {
    margin-bottom: 10px;
}

@media (max-width: 350px) {
    h1, h2, h3, h4, h5 {
        margin: 0;
    }
}



/* */

.slider-container #slider-4 {
    margin-bottom: 25px;
}

.colour-square {
    width: 100%;
    height: 100%;
    position: absolute;
}
.colour-inside {
    width: 100%;
    height: 100%;
    position: absolute;
}


.colour-square-top {

    width: 50px;
    height: 50px;
    position: relative;
}

.part1-test-comp, .part3-test-comp {
    display: none;
}

#cp {
    width: 300px;
    height: 140px;
    position: relative;
    background-image: url('../images/cp.png');
    background-size: contain;
    background-repeat: no-repeat;

}

@media (max-width: 767px){
    #cp {
        width: 225px;
        height: 105px;
    }
}

#cp-1, #cp-2, #cp-3, #cp-4, #cp-5 {
    max-width: 100%;
    left: 0;
    position: absolute;
    visibility: hidden;
    transition: all 1s;
    opacity: 0;
}

#paint-btn:hover {
    opacity: 0.7;
}

#paint-btn {
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    z-index: 1000;
}
#circle-progress {
    transition: opacity 0.5s;
}

#cp-next {
    opacity: 0;
    visibility: hidden;
}
.cm {
    padding-bottom : 50%;
    width: 50%;
    box-shadow: 0 0 10px #333333;
    border-radius: 50%;
    transition: all 0.5s;
}

.cm-cont {
    padding: 10px;
}

.cm-1 {
    margin-right: 0;
    background-color: #9858a4;
}
.cm-2 {
    margin-left: 0;
    background-color: #b0b0b0;
}
.cm-3 {
     margin-right: 0;
    background-color: #ae2c2c;
}
.cm-4 {
    margin-left: 0;
    background-color: #487cff;
}

.ts, .ts2, .ts3 {
    border: solid 5px white;
    width: 100%;
    padding-top: 60%;
    display: inline-block;
}
/* iDEA */
#ts1 {    background-color: #c4c8ba;  }
#ts2 {    background-color: #8dff7f;  }
#ts3 {    background-color: #C84378;  }
#ts4 {  background-color: #a52cc8;  }
#ts5 {  background-color: #4DB1E0;  }
#ts6 {  background-color: #e00013;  }
#ts7 {  background-color: #04e0a3;  }
#ts8 {  background-color: #4b00e0;  }
#ts9 {  background-color: #F1A21E;  }
#ts10 {    background-color: #2B325D;  }
#ts11 {    background-color: #5d255c;  }
#ts12 {    background-color: #111122;  }
#ts13 {    background-color: #365c5d;  }
#ts14 {    background-color: #232325;  }
#ts15 {    background-color: #8ABF54;  }
#ts16 {    background-color: #6b778b;  }
/* Sunset */

#ts21 {    background-color: #c4c8ba;  }
#ts22 {    background-color: #8dff7f;  }
#ts23 {    background-color: #826649;  }
#ts24 {  background-color: #FFFF8D;  }
#ts25 {  background-color: #4DB1E0;  }
#ts26 {  background-color: #e00013;  }
#ts27 {  background-color: #04e0a3;  }
#ts28 {  background-color: #FFD18F;  }
#ts29 {  background-color: #4cf1a8;  }
#ts210 {    background-color: #2B325D;  }
#ts211 {    background-color: #FFA73E;  }
#ts212 {    background-color: #111122;  }
#ts213 {    background-color: #365c5d;  }
#ts214 {    background-color: #232325;  }
#ts215 {    background-color: #D6B351;  }
#ts216 {    background-color: #6b778b;  }
/* Sunrise */
#ts31 {    background-color: #61b56d;  }
#ts32 {    background-color: #8dff7f;  }
#ts33 {    background-color: #C84378;  }
#ts34 {  background-color: #ffda33;  }
#ts35 {  background-color: #f8ff8b;  }
#ts36 {  background-color: #e00013;  }
#ts37 {  background-color: #86dbff;  }
#ts38 {  background-color: #4b00e0;  }
#ts39 {  background-color: #F1A21E;  }
#ts310 {    background-color: #2B325D;  }
#ts311 {    background-color: #95dba2;  }
#ts312 {    background-color: #111122;  }
#ts313 {    background-color: #365c5d;  }
#ts314 {    background-color: #232325;  }
#ts315 {    background-color: #8ABF54;  }
#ts316 {    background-color: #6e5539;  }


.ds {
    border: dotted 2px lightgrey;
}
.ds-1, .ds-2, .ds-3 {
    width: 18%;
    padding-top:18%;
    display: inline-block;
    transition: all 1s;
}

#colour-match-2-top {
    width: 50px;
    height: 50px;
    float: right;
    position: relative;
}
.splat{
    position: absolute;
    transition: all 2s;
    opacity: 0.5;
}

.splat1 {
    left:0;
    top:20%;
    width: 50px;
}

.splat2 {
    right:0;
    top:60%;
    width: 30px;

}

.splat3 {
    top: 0;
    width: 50px;
}

.splat4 {
    bottom: 0;
    width: 100px;

}

.jumbotron {
    position: relative;
}

#cs-pic {
    background-image: url('../images/complementary.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    transition: transform 2s;
}

.circle-4 {
    border-radius: 20px;
    height: 40px;
    width: 40px;
    border: solid 5px #ffffff;
    float: left;
    margin: 5px;
    box-shadow: 0px 0px 10px #d7d7d7;
}

.circle-row {
    height: 50px;
    width: 200px;
}

.hue-4-1 {  background-color: red;}
.hue-4-2 {  background-color: yellow;}
.hue-4-3 {  background-color: blue;}
.hue-4-4 {  background-color: green;}

.sat-4-1 {  background-color: #828282;}
.sat-4-2 {  background-color: #918f6b;}
.sat-4-3 {  background-color: #b2ab33;}
.sat-4-4 {  background-color: #e7df03;}

.lig-4-1 {  background-color: #333333;}
.lig-4-2 {  background-color: #626262;}
.lig-4-3 {  background-color: #a4a4a4;}
.lig-4-4 {  background-color: #e4e4e4;}


#loader {
    background-color: #c2e4f4;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5000;
}

#loadergif {
    width: 75px;
    height: 60px;
    top: calc(50% - 30px);
    left: calc(50% - 37.5px);
    position: absolute;
}

img {
    -ms-interpolation-mode: bicubic !important;
}

@media (max-width: 700px) {
    #idea-logo {
        display: none;
    }
}

@media (max-width: 700px) {
    #garter-stamp {
        bottom:20px;
        top: auto !important;
        background-image: url('../images/resize-garter-stamp-2.png') !important;
    }
}