@charset "UTF-8";
/* CSS Document */

body {
	
	background: rgba(249,251,255,1.00)

}

#musictoggle {
	
font-size: 30px;
text-shadow: rgba(105, 145, 206, 0.27) -3px 1px 0px;
color: rgba(53, 184, 219, 0.6);	
display: block;
margin-top: 30px;
padding-bottom: 8px;

}

#musictoggle:focus {
	
text-shadow: rgba(105, 145, 206, 0.27) -3px 1px 0px;
color: rgba(53, 184, 219, 0.6);	
display: block;
outline: none;
background-color: white;

}

h1 { 

font-family: 'Love Ya Like A Sister', cursive;
font-size: 56px;
font-weight: 500;
color: rgb(30, 84, 118);
text-shadow: 4px 4px 2px rgba(194,194,194,1.00);

}

.btn {

font-weight: bold;

	
	
}

.top {
	
	position: absolute; 
	
	margin-top: -11px;
	
	width: 1800px;
	
	background: rgba(225,234,238,1.00);
	
	
}

#digitalfab {
	
	font-family: 'Love Ya Like A Sister', cursive;
	
}

h2 {
	
	font-family: 'Love Ya Like A Sister', cursive;
	
	
}

h3 {
	
	font-family: 'Comfortaa', cursive;
	
	
}

h4 {
	
	font-family: 'Comfortaa', cursive;
	
	
}

.ft { font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.textContainer {
	
	background: rgb(125, 154, 176);
	max-width: 650px;
	padding: 21px;
	border-radius: 12px;
	font-size: 18px;
	font-family: 'Asap', sans-serif;
	box-shadow: -12px 24px 35px -27px rgb(22, 35, 76);

}

.textContainer2 {
	
	background: rgb(125, 154, 176);
	max-width: 650px;
	padding: 19px;
	border-radius: 12px;
	font-size: 18px;
	font-family: 'Asap', sans-serif;
	box-shadow: -12px 24px 35px -27px rgb(221, 224, 236);

}

.textContainer3 {
	
	background: rgb(125, 154, 176);
	max-width: 650px;
	padding: 21px;
	border-radius: 12px;
	font-size: 15px;
	font-family: 'Asap', sans-serif;
	box-shadow: -12px 24px 35px -27px rgb(22, 35, 76);

}

.textContainer4 {
	
	background: rgb(125, 154, 176);
	max-width: 480px;
	padding: 15px;
	border-radius: 12px;
	font-size: 15px;
	font-family: 'Asap', sans-serif;
	

}



.wtx {
	
color: white;
	
}

.paddingchange1 {
	
	padding-right: 130px;
	padding-left: 130px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

.paddingchange2 {
	
	padding-right: 100px;
	padding-left: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

.whitebg {
	
	background: white;
}

.whitebgp {
	
	background: white;
	padding-top: 18px;
	padding-bottom: 10px;
	border-radius: 21px;
}

.whitebbg {
	
	background: #ffffff;
	border: 10px solid rgba(193, 209, 224, 0.11);
}

.whitebbgr {
	
	background: #ffffff;
	border: 10px solid rgba(153, 184, 212, 0.08);
	border-radius: 21px;
	padding-top: 21px;
	padding-bottom: 21px;
}

.blackbbgr {
	
	background: #ffffff;
	border: 10px solid rgba(153, 184, 212, 0.08);
	border-radius: 21px;
	padding-top: 21px;
	padding-bottom: 21px;
}

.transbbgr {
	
	background: rgba(255, 255, 255, 0.90);
	border: 1px solid rgba(108, 20, 42, 0.12);
	border-radius: 21px;
	padding-top: 21px;
	padding-bottom: 21px;
	text-shadow: -2px 2px 0px rgb(255, 255, 255);
}

.tf {
	
	font-size: 18px;
	font-family: 'Asap', sans-serif;
	text-shadow:  1px 1px 2px rgb(255, 214, 214);
	
}

.txt {
	
	font-family: 'Asap', sans-serif;
	
}

.txt2 {
	
	font-family: 'Comfortaa', cursive;
	
}



@media screen and (max-width: 800px) {
	
	.top {
	
	
	margin-top: 0px;
	
	
		
}
	
	
}

@media screen and (max-width: 480px) {
	
	.top {
	
	
	margin-top: 1px;
	
	
		
}

.paddingchange1 {
	
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 8px;
	padding-bottom: 0px;
	
}

.paddingchange2 {
	
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 8px;
	padding-bottom: 0px;
	
}
	
	
}

@media only screen and (max-width : 1280px) {
	
#musictoggle {
	
font-size: 30px;
text-shadow: rgba(105, 145, 206, 0.27) -3px 1px 0px;
color: rgba(53, 184, 219, 0.6);	
display: block;
margin-top: 15px;
padding-bottom: 8px;

}

}

@media only screen and (min-width : 1500px) {
	
#musictoggle {
	
font-size: 30px;
text-shadow: rgba(105, 145, 206, 0.27) -3px 1px 0px;
color: rgba(53, 184, 219, 0.6);	
display: block;
margin-top: 50px;
padding-bottom: 8px;

}

}