.step-6 {
    height: 100%;
}

.ifcontent {
    margin-bottom: 20px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);transform: translateY(-50%);
}

.iframeValue {
    background-color: #fff;
    border: none;
    display: inline-block;
    margin: 0;
    width: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: 2px;
    width: 100%;
    padding: 14px 15px;
}

@media (max-width: 765px) {
    .iframeValue {
        padding: 10px 14px;
    }
}

.iframeValue:focus {
    outline: none;
}

.ifcontent-wrapper {
    border-radius: 4px;
    box-shadow: 2px 0px 2px rbga(0, 0, 0, 0.2);
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    background-color: #eee;
    position: relative;
}

@media(max-width: 765px) {
    .ifcontent-wrapper {
        padding: 10px;
    }
}
