@font-face {
  font-family: 'Amatic';
  src: url('../fonts/Amatic-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Amatic-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Amatic-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Amatic-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Amatic-Bold.svg#4c55e49cb4f37618a2e9fd5482d4c55d') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Amatic SC';
  src: url('../fonts/AmaticSC-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AmaticSC-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AmaticSC-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/AmaticSC-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/AmaticSC-Regular.svg#9af3c996af706f139dcbbe62435a567b') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Gotham HTF';
  src: url('../fonts/GothamHTF-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GothamHTF-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GothamHTF-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/GothamHTF-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GothamHTF-Bold.svg#030251e5701d786046d51ed2261d4a74') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Gotham HTF Book';
  src: url('../fonts/GothamHTF-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GothamHTF-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GothamHTF-Book.woff') format('woff'), /* Modern Browsers */
       url('../fonts/GothamHTF-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GothamHTF-Book.svg#8815e0559e42d2bb6d63fb542f63fc99') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Gotham HTF Light';
  src: url('../fonts/GothamHTF-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GothamHTF-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GothamHTF-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/GothamHTF-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GothamHTF-Light.svg#1f1d0900c5921e708beab42a3f9edc4f') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Gotham HTF Medium';
  src: url('../fonts/GothamHTF-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GothamHTF-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GothamHTF-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/GothamHTF-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GothamHTF-Medium.svg#05487aa5c1216ca29ce360668b852782') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}


body {
    font-family: 'Gotham HTF Light', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight:  200;
}

h1, h2, h3 {
    font-family: 'Gotham HTF Medium';
    margin: 0 0 30px 0;
}

p {
    line-height: 1.6;
    margin-bottom: 30px;
    font-size: 1.2em;
}

strong {
    font-family: 'Gotham HTF';
    font-weight:  700;
}

@media (max-width: 1020px) {
    h1 {
        text-align: center;
        margin: 0 0 20px 0;
    }
    p {
        font-size: 1em;
        margin-bottom: 20px;
    }
}

@media (max-width: 667px) {
    h1 {
        font-size: 1.2em;
        margin: 0 0 10px 0;
    }
    p {
        font-size: 0.9em;
        margin-bottom: 10px;
    }
}
